@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');

.cursor2 {
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background-color: rgb(255, 255, 255);
  opacity: .5;
  position: fixed;
  transform: translate(-50%, -50%);
  pointer-events: none;
  transition: width .3s, height .3s, opacity .3s;
}

* {
    padding: 0;
    margin: 0;
      font-family: 'Work Sans', sans-serif;
      cursor: none;

  }

nav {
    background-color: rgba(255, 255, 255, 0);
    padding: 2vh;
    position: fixed;
    width: 100vw;
    height: 1vh;
    top: 0;
    z-index: 1;
    padding-bottom: 4vh;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    width: 100vw;
    height: 5vh;
    text-align: center;
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 1vh 1vw;
    border-radius: 5px;
    transition: background-color 0.3s;
}

nav ul li a:hover {
    background-color: rgb(51, 139, 254);
}


.cv-butn{
    background-color: rgb(51, 139, 254);
    margin-top: 0;
    color: white;
    font-size: 1.25vh;
    margin-bottom:0; 
    padding: 5px;
    text-decoration: none;
    box-decoration-break: none;
    border-radius: 5px;
    border: none;
    border: 5px;
    height: 30px;
    width: 100px;
    margin: 0;
  
  }
  .cv-butn:hover{
    background-color: rgb(51, 139, 254);
    color: white;
    font-size: 1.25vh;
    padding: 5px;
    text-decoration: none;
    box-decoration-break: none;
    border-radius: 5px;
    border: none;
    border: 5px;
    height: 30px;
    width: 100px;
    margin: 0;
    background-color:#6237b3;
  }
  

  .wrapper {
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  #div-mask-front,
  #div-mask-back {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  #div-mask-front p,
  #div-mask-back p {
    color: rgba(255, 255, 255, 0.9);
    font-size: 30px;
  }
  
  #div-mask-back {
    --m1: 0.1%;
    --m2: 0%;
    --mask: radial-gradient(
      circle at var(--x, 50%) var(--y, 50%),
      black var(--m1),
      transparent var(--m2)
    );
    position: absolute;
    width: 100%;
    height: 100%;
  
    -webkit-mask-image: var(--mask);
    mask-image: var(--mask);
  }
  
  #div-mask-front h1 {
    font-size: 80px;
    color:white;
  }
  
  #div-mask-back pre {
    color: white;
    font-size: 16px;
  }
  
  .area {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
  }
  
  
  
  pre {
    width: 75vw;
    height: 75vh;
    backdrop-filter: blur(15px) saturate(100%);
    -webkit-backdrop-filter: blur(15px) saturate(100%);
    border-radius: 12px;
    background-color: rgb(13, 7, 41);
    box-shadow: rgba(53, 55, 61, 0.807) 10px 10px;
    padding: 2rem 1rem;
  }
  
  pre .variable {
    color: #9cdcfe;
  }
  
  pre .string {
    color: #ce9178;
  }
  
  pre .character {
    color: #d4d4d4;
  }
  
  pre .bracket {
    color: #ffd700;
  }
  
  pre .number {
    color: #b5cea8;
  }

  body::after {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(255, 255, 255, 0);
    z-index: 1000; 
    transition: 0.5s;
    pointer-events: none;
  }
  
  body.clicked::after {
    background: rgb(21, 20, 20);
  }