@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');

.cursor2 {
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background-color: rgb(255, 255, 255);
  opacity: .5;
  position: fixed;
  transform: translate(-50%, -50%);
  pointer-events: none;
  transition: width .3s, height .3s, opacity .3s;
}

*{
  font-family: 'Work Sans', sans-serif;
  cursor: none;
}

#loader{
    background: #000000e7 url("/Assests/loader-1.gif") no-repeat center center;
    background-size: 30vh;
    height: 100vh;
    width: 100%;
    position:fixed;
    z-index: 100;
}

nav {
    background-color: rgba(25, 13, 43, 0.774);
    padding: 20px 0;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 99;
    box-shadow: 5px 2px 5px rgba(255, 255, 255, 0.268);
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    width: 70%;
    text-align: center;
}

nav ul li {
    display: inline-block;
    margin: 0 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

nav ul li a:hover {
    background-color: rgb(51, 139, 254);
}

.cv-butn{
  background-color: rgb(51, 139, 254);
  margin-top: 0;
  color: white;
  font-size: 1.25vh;
  margin-bottom:0; 
  padding: 5px;
  text-decoration: none;
  box-decoration-break: none;
  border-radius: 5px;
  border: none;
  border: 5px;
  height: 30px;
  width: 100px;
  margin: 0;

}

.cv-butn:hover{
  background-color: rgb(51, 139, 254);
  color: white;
  font-size: 1.25vh;
  padding: 5px;
  text-decoration: none;
  box-decoration-break: none;
  border-radius: 5px;
  border: none;
  border: 5px;
  height: 30px;
  width: 100px;
  margin: 0;
  background-color:#6237b3;
}




  body {
    margin:0;
    padding:0;
    background: linear-gradient(#081327, #14092f) no-repeat;
    background-size: 110% 110%;

  }
  
  .login-box {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    padding: 40px;
    transform: translate(-50%, -50%);
    background: rgba(0,0,0,.5);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    border-radius: 10px;
  }
  
  .login-box h2 {
    margin: 0 0 30px;
    padding: 0;
    color: #fff;
    text-align: center;
  }
  
  .login-box .user-box {
    position: relative;
  }
  
  .login-box .user-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
  }
  .login-box .user-box label {
    position: absolute;
    top:0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
  }
  
  .login-box .user-box input:focus ~ label,
  .login-box .user-box input:valid ~ label {
    top: -20px;
    left: 0;
    color: #8825df;
    font-size: 12px;
  }
  
  .login-box form a {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: #8825df;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 40px;
    letter-spacing: 4px
  }
  
  .login-box a:hover {
    background: #8825df;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px #8825df
                0 0 25px #8825df,
                0 0 50px #8825df,
                0 0 100px #8825df;
  }
  
  .login-box a span {
    position: absolute;
    display: block;
  }
  
  .login-box a span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #8825df);
    animation: btn-anim1 1s linear infinite;
  }
  
  @keyframes btn-anim1 {
    0% {
      left: -100%;
    }
    50%,100% {
      left: 100%;
    }
  }
  
  .login-box a span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #8825df);
    animation: btn-anim2 1s linear infinite;
    animation-delay: .25s
  }
  
  @keyframes btn-anim2 {
    0% {
      top: -100%;
    }
    50%,100% {
      top: 100%;
    }
  }
  
  .login-box a span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #8825df);
    animation: btn-anim3 1s linear infinite;
    animation-delay: .5s
  }
  
  @keyframes btn-anim3 {
    0% {
      right: -100%;
    }
    50%,100% {
      right: 100%;
    }
  }
  
  .login-box a span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #8825df);
    animation: btn-anim4 1s linear infinite;
    animation-delay: .75s
  }
  
  @keyframes btn-anim4 {
    0% {
      bottom: -100%;
    }
    50%,100% {
      bottom: 100%;
    }
  }