@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');

.cursor2 {
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background-color: rgb(255, 255, 255);
  opacity: .5;
  position: fixed;
  transform: translate(-50%, -50%);
  pointer-events: none;
  transition: width .3s, height .3s, opacity .3s;
}
*{
  font-family: 'Work Sans', sans-serif;
  cursor: none;
}

#loader{
    background: #000000e7 url("/Assests/loader-1.gif") no-repeat center center;
    background-size: 30vh;
    height: 100vh;
    width: 100%;
    position:fixed;
    z-index: 100;
}
body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body {
  overflow-x: hidden;
  height: 100vh;
  width: 100vw;
  overflow-y: scroll;
  background-color: rgb(12, 3, 26);
}


body, html {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

nav {
  background-color: rgba(25, 13, 43, 0.774);
  padding: 2vh;
  position: fixed;
  width: 100vw;
  height: 1vh;
  top: 0;
  z-index: 99;
  box-shadow: 5px 2px 5px rgba(255, 255, 255, 0.268);
  padding-bottom: 4vh;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  width: 100vw;
  height: 5vh;
  text-align: center;
}

nav ul li {
  display: inline-block;
}


nav ul li a {
  color: white;
  text-decoration: none;
  padding: 1vh 1vw;
  border-radius: 5px;
  transition: background-color 0.3s;
}

nav ul li a:hover {
  background-color: rgb(51, 139, 254);
}

.cv-butn{
  background-color: rgb(51, 139, 254);
  margin-top: 0;
  color: white;
  font-size: 1.25vh;
  margin-bottom:0; 
  padding: 5px;
  text-decoration: none;
  box-decoration-break: none;
  border-radius: 5px;
  border: none;
  border: 5px;
  height: 30px;
  width: 100px;
  margin: 0;

}
.cv-butn:hover{
  background-color: rgb(51, 139, 254);
  color: white;
  font-size: 1.25vh;
  padding: 5px;
  text-decoration: none;
  box-decoration-break: none;
  border-radius: 5px;
  border: none;
  border: 5px;
  height: 30px;
  width: 100px;
  margin: 0;
  background-color:#6237b3;
}


.container {
  display: flex;
  flex-wrap: nowrap;
}

.section {
  margin: 10px;
  position: relative;
  display: flex;
  align-items: center;
  min-width: 90vw;
  margin-top: 10vh;
  height: 85vh;
  font-size: 50px;
  font-weight: bold;
  border-radius: 25px;
  display: grid;
  position: relative;
  align-items: center;
  align-content: center;
  justify-items: center;
  justify-content: center;
}

.section__large {
  background-size: cover;
  background-color: rgba(50, 3, 96, 0.262);
  width: 100vw;
}

.section__container {
  display: flex;
}

.box {
  display: flex;
  justify-content: flex-start;
  width: 100vw;
  height: 100%;
  color: var(--white);
  font-size: 30px;
}

.box__media {
  width: 20vw;
  height: 20vw;
  background-color: var(--white);
  border-radius: 100%;
}

.box p {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 49.5vw;

}
