@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Onest:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root{
  --color-bg:rgb(17, 18, 25);;
  --transition: 0.8s;
  --transition-shorter: 1.5s;
  --color-border: rgba(255, 255, 255, 0.2);
  --color-border-2: rgba(255, 255, 255, 0.1);
  --color-box-shadow: rgba(0, 0, 0, 0.25);
  --color-glass-hover: rgba(255, 255, 255, 0.05);
  --gradient-gray: #fff2;
  --text-color: #fff;
  --icon-color: #fff8;
  --color-1: #153015;
  --color-2: #102135;
  --color-3: #350020;
  --color-4: #201135;
}

.cursor2 {
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background-color: rgb(255, 255, 255);
  opacity: .5;
  position: fixed;
  transform: translate(-50%, -50%);
  pointer-events: none;
  transition: width .3s, height .3s, opacity .3s;
}
*{
  cursor: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Onest', sans-serif;
}

#loader{
    background: #000000e7 url("/Assests/loader-1.gif") no-repeat center center;
    background-size: 30vh;
    height: 100vh;
    width: 100%;
    position:fixed;
    z-index: 100;
}

nav {
  padding: 2vh;
  position: fixed;
  width: 100vw;
  height: 1vh;
  top: 0;
  z-index: 99;
  padding-bottom: 4vh;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  width: 100vw;
  height: 5vh;
  text-align: center;
}

nav ul li {
  display: inline-block;
}


nav ul li a {
  color: white;
  text-decoration: none;
  padding: 1vh 1vw;
  border-radius: 5px;
  transition: background-color 0.3s;
}

nav ul li a:hover {
  background-color: rgb(51, 139, 254);
}

.cv-butn{
  background-color: rgb(51, 139, 254);
  margin-top: 0;
  color: white;
  font-size: 1.25vh;
  margin-bottom:0; 
  padding: 5px;
  text-decoration: none;
  box-decoration-break: none;
  border-radius: 5px;
  border: none;
  border: 5px;
  height: 30px;
  width: 100px;
  margin: 0;

}
.cv-butn:hover{
  background-color: rgb(51, 139, 254);
  color: white;
  font-size: 1.25vh;
  padding: 5px;
  text-decoration: none;
  box-decoration-break: none;
  border-radius: 5px;
  border: none;
  border: 5px;
  height: 30px;
  width: 100px;
  margin: 0;
  background-color:#6237b3;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: var(--color-bg);
    transition: var(--transition);
}

body.fade-in::before {
  background: rgba(255, 255, 255, 0);
}


body:has(.box[data-color="clr1"]:hover){
  background: var(--color-4);
  background-size: 100% 100%;
}

body:has(.box[data-color="clr2"]:hover){
  background: var(--color-4);
  background-size: 100% 100%;


}

body:has(.box[data-color="clr3"]:hover){
  background: var(--color-4);
  background-size: 100% 100vh;


}

body:has(.box[data-color="clr4"]:hover){
  background: var(--color-4);
  background-size: 100% 100%;


}

.container {
    position: relative;
    margin: 0vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.container .box {
    position: relative;
    width: 15vw;
    height: 27vh;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: var(--transition);
    margin: 20px;
}

[data-color="clr1"]:hover {
    box-shadow: 0 15px 15px var(--color-box-shadow);
}

[data-color="clr2"]:hover {
    box-shadow: 0 15px 15px var(--color-box-shadow);
}

[data-color="clr3"]:hover {
    box-shadow: 0 15px 15px var(--color-box-shadow);
}

[data-color="clr4"]:hover {
    box-shadow: 0 15px 15px var(--color-box-shadow);
}

.container .box .imgBx img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: var(--transition);
    border-radius: 10px;
}

.container .box:hover .imgBx img {
    opacity: 0.5;
}

.container .box .glass {
    position: absolute;
    inset: 0;
    background: rgba(23, 23, 24, 0.845);
    border: 1px solid var(--color-border-2); 
    box-shadow: 0 15px 15px var(--color-box-shadow);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    scale: 0;
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: var(--transition);
    transform: rotate(-30deg);
}

.container .box .glass::before {
  content: '';
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
  background: var(--color-glass-hover);
}

.container .box:hover {
    transform: rotate(-15deg);
}

.container .box:hover .glass {
    opacity: 1;
    scale: 1;
    transform: rotate(20deg)
}

.container .box .glass h3 {
    font-size: 1.25em;
    color: var(--text-color);
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    text-align: center;
    line-height: 1;
    position: relative;
    top: -15px;
  
}

.container .box .glass span  {
    font-weight: 400;
    font-size: 0.5em;
}

.container .box ul {
    position: absolute;
    bottom: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 15px;
}

.container .box ul a {
    color: var(--icon-color);
    font-size: 1.25em;
    scale: 0;
    transition: var(--transition-shorter);
    transition-delay: scale calc(0.2s * var(--i));
}

.container .box:hover ul a {
    scale: 1;
}

.container .box ul a:hover {
  color: var(--text-color);
}

h1 {
    position:absolute;
    top: 40px;
    color: var(--text-color);
    font-weight: 100;
    font-size: 1.5em;
    text-align: center;
}

@media screen and (max-width: 450px) {
    .container {
        margin-top: 140px;
    }
    
    h1{
        width: 80%;
    }
}


@media screen and (min-width: 950px) {
    h1 {
        top: 90px;
    }
}

body::after {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(255, 255, 255, 0);
  z-index: 1000; 
  transition: 0.5s;
  pointer-events: none;
}

body.clicked::after {
  background: rgb(21, 20, 20);
}