@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');

*{
  font-family: 'Work Sans', sans-serif;
}

#loader{
    background: #000000e7 url("/Assests/loader-1.gif") no-repeat center center;
    background-size: 30vh;
    height: 100vh;
    width: 100%;
    position:fixed;
    z-index: 100;
}

body {
  background-image: url('/Assests/back.jpg');
    overflow-x: hidden;
    height: 100vh;
    overflow-y: scroll;
    background-color: rgb(12, 3, 26);
}


body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

nav {
    background-color: rgba(25, 13, 43, 0.774);
    padding: 20px 0;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 99;
    box-shadow: 5px 2px 5px rgba(255, 255, 255, 0.268);
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    width: 70%;
    text-align: center;
}

nav ul li {
    display: inline-block;
    margin: 0 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

nav ul li a:hover {
    background-color: rgb(51, 139, 254);
}

.cv-butn{
  background-color: rgb(51, 139, 254);
  margin-top: 0;
  color: white;
  font-size: 1.25vh;
  margin-bottom:0; 
  padding: 5px;
  text-decoration: none;
  box-decoration-break: none;
  border-radius: 5px;
  border: none;
  border: 5px;
  height: 30px;
  width: 100px;
  margin: 0;

}
.cv-butn:hover{
  background-color: rgb(51, 139, 254);
  color: white;
  font-size: 1.25vh;
  padding: 5px;
  text-decoration: none;
  box-decoration-break: none;
  border-radius: 5px;
  border: none;
  border: 5px;
  height: 30px;
  width: 100px;
  margin: 0;
  background-color:#6237b3;
}


.container {
    display: grid;
    position: relative;
    padding-top: 50vh;
    background: transparent;
    max-width: 650px;
    min-width: 650px;
    height: 600px;
    margin: 0 auto;
    overflow: hidden;
  }
  

  .card {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: inline-block;
    width: 340px;
    height: 50vh;
    background: rgba(53, 18, 117, 0.091);
    margin: 5px;
    transition: transform 0.5s, background 0.3s ease-in-out;
    border-radius: 25px;
  }
  
  .card:nth-child(1) {
    transform: translate(-170%, -50%);
  }
  
  .card:nth-child(2) {
    transform: translate(-50%, -50%);
  }
  
  .card:nth-child(3) {
    transform: translate(70%, -50%);
  }
  
  .card:nth-child(4) {
    transform: translate(190%, -50%);
  }
  
  .active {
    background: rgba(9, 13, 65, 0.528);
    transform: translate(-50%, -50%) scale(1.1) !important;
  }
  
  .next .card:nth-child(1) {
    transform: translate(-290%, -50%);
  }
  
  .next .card:nth-child(2) {
    transform: translate(-170%, -50%);
  }
  
  .next .card:nth-child(3) {
    transform: translate(-50%, -50%);
  }
  
  .next .card:nth-child(4) {
    transform: translate(70%, -50%);
  }
  
  .reset .card {
    transition: none;
  }
  
  .reset .card .card:nth-child(1) {
    transform: translate(-170%, -50%);
  }
  
  .reset .card .card:nth-child(2) {
    transform: translate(-50%, -50%);
  }
  
  .reset .card .card:nth-child(3) {
    transform: translate(70%, -50%);
  }
  
  .reset .card .card:nth-child(4) {
    transform: translate(190%, -50%);
  }
  
h1{
  color:white;
}